[submodule "ui"]
	path = ui
	url = git@github.com:martinmicunda/employee-scheduling-ui.git
[submodule "api"]
	path = api
	url = git@github.com:martinmicunda/employee-scheduling-api.git
[submodule "db"]
	path = db
	url = git@github.com:martinmicunda/employee-scheduling-db.git
