lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.DS_Store

pids
logs
results

npm-debug.log
node_modules

# WebStorm files
.idea/

# 3rd dependencies
client/src/vendor/

# build and tmp folders for production
build/
client/src/.tmp/

# ignore angular env file
client/src/app/config/config-env.js

gh-pages/
