doctype html
html
    head
        title Employee Scheduling
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')

        include ./includes/head

    body
        h1 Employee Scheduling
