description "nsqlookupd"

start on runlevel [2345]
stop on runlevel [!2345]

env PATH=/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/sbin:/sbin:/bin

respawn

script
  set -e
  mkfifo /tmp/nsqlookupd-log-fifo
  ( logger -t nsqlookupd </tmp/nsqlookupd-log-fifo & )
  exec >/tmp/nsqlookupd-log-fifo
  rm /tmp/nsqlookupd-log-fifo

  exec su -s /bin/sh -c 'exec "$0" "$@"' {{ nsq_nsqlookupd_user }} -- {{ nsq_nsqlookupd_cmd }} \
         --http-address {{ nsq_nsqlookupd_http_address }} \
         --inactive-producer-timeout {{ nsq_nsqlookupd_inactive_producer_timeout }} \
         --tcp-address {{ nsq_nsqlookupd_tcp_address }} \
         --broadcast-address {{ nsq_nsqlookupd_broadcast_address }} \
         --tombstone-lifetime {{ nsq_nsqlookupd_tombstone_lifetime }} \
         --verbose {{ nsq_nsqlookupd_verbose }} 2>&1
end script
